<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Hello Spring Data JPA</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Hello Spring Data JPA</h1>
	<div>
		<a th:href="@{/users}">Users</a>
		|
		<a th:href="@{/user/1}">User:id=1</a>
	</div>
	<div>
		<a th:href="@{/books}">Books</a>
		|
		<a th:href="@{/book/1}">Book:id=1</a>
	</div>
</body>
</html>